
@{
    ViewBag.Title = "Index";
}
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Chi tiết sản phẩm </li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--start-single-->
<div class="single contact">
    <div class="container">
        <div class="single-main">
            <div class="col-md-9 single-main-left">
                <div class="sngl-top">
                    <div class="col-md-5 single-top-left">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <div class="thumb-image"> <img src="~/NewFolder1/img/s-1.jpg" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                                    <div class="thumb-image"> <img src="~/NewFolder1/img/s-2.jpg" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                                    <div class="thumb-image"> <img src="~/NewFolder1/img/s-3.jpg" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                                </li>
                            </ul>
                        </div>
                        <!-- FlexSlider -->
                        <script src="~/Scripts/imagezoom.js"></script>
                        <script defer src="~/Scripts/jquery.flexslider.js"></script>
                        <link rel="stylesheet" href="~/Content/flexslider.css" type="text/css" media="screen" />

                        <script>
						// Can also be used with $(document).ready()
						$(window).load(function() {
						  $('.flexslider').flexslider({
							animation: "slide",
							controlNav: "thumbnails"
						  });
						});
                        </script>
                    </div>
                    <div class="col-md-7 single-top-right">
                        <div class="single-para simpleCart_shelfItem">
                            <h2>CASIO WR 50M</h2>
                            <div class="star-on">
                                <ul class="star-footer">
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                </ul>
                                <div class="review">
                                    <a href="#"> 1 customer review </a>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <h5 class="item_price">$150</h5>
                            <p>WR chính là ký tự viết tắt của Water Resist/Water Resistant (tương ứng với mức độ chống chịu nước của một chiếc đồng hồ đeo tay).
                            </p>
                            <div class="available">
                                <ul>
                                    <li>
                                        Color
                                        <select>
                                            <option>Silver</option>
                                            <option>Black</option>
                                            <option>Red</option>
                                        </select>
                                    </li>
                                    <li class="size-in">
                                        Size<select>
                                           
                                            <option>Large</option>
                                            <option>small</option>
                                        </select>
                                    </li>
                                    <div class="clearfix"> </div>
                                </ul>
                            </div>
                            <ul class="tag-men">
                                <li>
                                    <span>TAG</span>
                                    <span class="women1">: Casio,</span>
                                </li>
                                <li>
                                    <span>Mã </span>
                                    <span class="women1">:160</span>
                                </li>
                            </ul>
                            <a href="#" class="add-cart item_add">Thêm vào giỏ hàng</a>

                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
