
@{
    ViewBag.Title = "Index";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Đã giao thành công</h1>
            </div>
            <div class="col-sm-6" style="text-align:right">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href='@Url.Action("Index","DashBoard")'>Home</a></li>
                    <li class="breadcrumb-item active">Dã giao thành công</li>

                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Stt</th>
                                <th>Số đơn hàng</th>
                                <th>Tên khách hàng</th>
                                <th>Ngày giao</th>
                                <th>Địa chỉ</th>
                                <th>Nhóm lệnh</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>2055 </td>
                                <td>Lư Nguyễn Yến TRúc</td>
                                <td>09/02/1/2003 </td>
                                <td> 1021/14/2A TL43 P.Bình Chiểu TPHCM  </td>
                                <td>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">ĐÃ GIAO THÀNH CÔNG</button>
                                </td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>7</td>
                                <td>Châu Thiên Bảo </td>
                                <td>04/05/2011</td>
                                <td>KP5 Huỳnh Tất Phát , Q.7 , TPHCM </td>
                                <td>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">ĐÃ GIAO THÀNH CÔNG</button>
                                </td>
                            </tr>
                            <tr>
                                <td>03</td>
                                <td>10</td>
                                <td>Nguyễn Thị Khánh Lâm </td>
                                <td>14/18/2021 </td>
                                <td>643 Xô Viết Nghệ Tĩnh,p26, Q.Bình Thạnh, Tp.HCM </td>
                                <td>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">ĐÃ GIAO THÀNH CÔNG</button>
                                </td>
                            </tr>
                            <tr>
                                <td>04</td>
                                <td>20</td>
                                <td>Nguyễn Võ Minh Trang</td>
                                <td>30/11/2022 </td>
                                <td>643 Xô Viết Nghệ Tĩnh,p26, Q.Bình Thạnh, Tp.HCM </td>
                                <td>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">ĐÃ GIAO THÀNH CÔNG</button>
                                </td>
                            </tr>
                            <tr>
                                <td>07</td>
                                <td>1</td>
                                <td>Nguyễn Trường Thịnh</td>
                                <td>18/04/2022 </td>
                                <td>11 Ung Văn Khiêm,p25,QBT, Tp.HCM </td>
                                <td>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">ĐÃ GIAO THÀNH CÔNG</button>
                                </td>
                            </tr>
                            <tr>
                                <td>08</td>
                                <td>16</td>
                                <td>Lê Trần Gia Huê</td>
                                <td>28/02/2022 </td>
                                <td>Quận 9, TPHCM </td>
                                <td>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">ĐÃ GIAO THÀNH CÔNG</button>
                                </td>
                            </tr>
                            <tr>
                                <td>09</td>
                                <td>12</td>
                                <td>Vũ Ngọc Mến</td>
                                <td>26/07/2022 </td>
                                <td>Q1, TPHCM </td>
                                <td>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">ĐÃ GIAO THÀNH CÔNG</button>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>26</td>
                                <td>Kim Ngân</td>
                                <td>30/11/2022 </td>
                                <td>Q1, TPHCM</td>
                                <td>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">ĐÃ GIAO THÀNH CÔNG</button>
                                </td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>15</td>
                                <td> Doãn Bùi Hòa Hợp </td>
                                <td>11/11/2022 </td>
                                <td>685 XVNT P26 QBT TPHCM </td>
                                <td>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">ĐÃ GIAO THÀNH CÔNG</button>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

